.container-intro{

    position: absolute;
    top: 50%;
    height: 80px;
    left: 50%;
    margin-top: -50px;
    text-align: center;
    width:100px;
    margin-left:-50px;

}


.hello-intro > h2 {
    font-size: 2em;
    font-family: "Lato", sans-serif;
    font-weight: 300;

}

ul{

    list-style: none;
    display:flex;
    flex-direction: row;
    padding-left: 0;
    justify-content: center;


}


.github, .portfolio {
    text-decoration: none;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #A9A9A9;
    text-align: center;
    margin:6px;
}


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    -webkit-overflow-scrolling: touch;

}

#particles-js {
    height: 100%;
    background: #eaf1f8;
    display:flex;
    justify-content: center;
    align-items:center;
}

.particles-js-canvas-el{

    position:absolute;

}


.container-intro a:hover {
    color: #383838;
    text-decoration: :none;
    font-weight: none
}

.scroll_down {
    text-align: center;
    width:100px;
    margin-left:-50px;
    position: absolute;
    bottom:20px;
    left:50%;
}


h1 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 2.3em;
    margin-bottom: 0.5em;
    text-align: center;
    margin-top: 45px;
}

p{
    font-family: "Lora", serif;
    color: #858585;
    text-align: center;
    line-height: 1.8;
    font-size: 1.5em;
    display: block;
    margin: 0 auto;
    width:60%;
    margin-bottom: 25px;
    font-weight:500;
}

h3{
    font-family: "Lora", serif;
    color: #858585;
    text-align: center;
    display: block;
    line-height: 1.3;
    margin: 0 auto;
    width:60%;
    font-weight:500;
    font-size: 1.4em;
    margin-bottom: 1px;
}


ol {
    font-family: "Lora", serif;
    color: #858585;
    line-height: 1.8;
    font-size: 1.2em;
    list-style:none;
    margin-bottom: 30px;
    list-style-position: inside;
    display:flex;
    flex-direction: row;
    padding-left: 0;
    justify-content: center;

}

ol li a {
    text-decoration: none;
    color: #2C3E50;
    font-family: "Lora", serif;
    background-color: transparent;
    margin-right:15px;

}

ol li a:hover {
    background-color: #F8F8F8;
}

.about_me > a {
    text-decoration: none;
    color: #2C3E50;
    font-family: "Lora", serif;
    background-color: transparent;
}

.about_me a:hover {
    background-color: #F8F8F8;
}

html {
    scroll-behavior: smooth
}

.container-projects {
    max-width: 1600px;
    background-color: #ffffff;
    height: 300px;
    width: 80%;
    margin-top: 50px;
    margin: auto;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}


/* Image hovering displaying name*/

.mini-projects, .dct, .nasa {
    background-color: #dddddd;
    height: 280px;
    width: 280px;
    position: relative;
    float: left;
    -webkit-box-shadow: 4px 5px 6px 0px rgba(97,91,97,1);
    -moz-box-shadow: 4px 5px 6px 0px rgba(97,91,97,1);
    box-shadow: 4px 5px 6px 0px rgba(97,91,97,1);

}


.mini-projects div, .dct div, .nasa div {
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
}

.mini-projects:hover, .dct:hover, .nasa:hover {
    cursor: pointer;
}

.mini-projects:hover div, .dct:hover div, .nasa:hover div {
    width: 150px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7;
}


footer {
    margin-top: 50px;
    border-top: #d9d9d9 solid 1px;
    height: 120px;
    background-color: white;
    color: #4d4d4d;
    width: 100%;
}

.le {
    padding-top: 15px;
    text-align: center;
    font-size: 1em;
    margin-top: 30px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
}

.graph { 
    display: block;
    margin: 0 auto;
    width:60%;
    margin-top:20px;
    margin-bottom:70px;
}

.projects-iphone > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.projects-iphone > h1 {
    font-size: 2em;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    text-align: center;
}

.projects-p > p {
    text-align: left;
    font-family: "Lora", serif;
    font-size: 1.1em;
    line-height: 1.5;
    color: black;
    margin-bottom: 50px;
    width: 60%;
    margin: 0 auto;
}

.projects-links {
    text-decoration: none;
    color: gray;
    font-family: "Lora", serif;
    background-color: transparent;
}

.projects-p a:hover {
    background-color: #F8F8F8;
}



.nasa-flex{
    display: flex;
    justify-content: center;
    flex-direction: row;
}


.projects-iphone > hr{

    width:60%;
    background-color: black;

}

.back-btn{
    margin-top:2%;
    margin-left:2%;
    width:40px;
    height:40px;
}


/* MEDIA QUERY computer*/
@media screen and (max-width:1100px) and (min-width:0px) {
    .hello-intro > h2 {
        font-size: 2.1em;
    }

    .container-projects {
        height: 400px;
        width: 90%;
    }

    .mini-projects, .dct, .nasa  {
        height: 253px;
        width: 253px;
    }

}

@media screen and (min-width:400px) and (max-width:850px) {
    .container-projects {
        height: 780px;
        width: 100%;
    }

}

/* MEDIA QUERY phone*/
@media screen and (max-width:449px) {
    .hello-intro > h2 {
        font-size: 2.1em;
    }

    .container-projects {
        height: 850px;
        width: 100%;
    }

    .mini-projects, .dct, .nasa  {
        height: 260px;
        width: 260px;
    }


    .projects-iphone > h1 {
        font-size:1.5em;
    }

    .projects-p{

        width:100%;
        font-size: .9em;

    }

    .mini-proj{
        width:100%;
    }


    .nasa-flex{
        transform: scale(.67)
    }



    
}